<%- include('partials/header') -%>

    <div class="wrapper">
        <h1 class="KVS" style="text-align: center;margin-top: 25px;font-size: 2rem;font-weight: bold">KVS</h1>
        <div class="search">
            <h2 style="text-align: center;margin: 50px;">
                <%= date %>
            </h2>

            <form style="text-align: center;" method="post" action="/home">
                <div class="mb-3">
                    <label for="searchNumber" class="form-label">Enter Number</label>
                    <input name="searchNumber" type="number" class="form-control">
                </div>
                <button type="post" class="btn btn-lg btn-primary">search</button>
            </form>

            <div class="position-absolute top-50 start-50 translate-middle"
                style="background-color: green;border-radius: 15px;">
                <div class="addNew"><a class="addNewLink" href="/addNew">ADD NEW</a></div>
            </div>
        </div>
        <!-- <div class="logOut btn btn-sm btn-danger" style="border-radius: 15px;">
            <div class="addNew"><a class="addNewLink" href="/addNew">ADD NEW</a></div>
        </div> -->

        <form action="/logout" method="post">
            <button class="btn btn-lg btn-danger translate-middle"
                style="position: absolute;left: 50%;bottom: 15%;">Logout</button>
        </form>
    </div>


    <%- include('partials/footer') -%>